In [28]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import functions as f

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
df = f.read_score_df()

In [3]:

df = (df
    .assign(DATE_START=pd.to_datetime(df["DATETIME_START"]).dt.date)
    .assign(TIME_START=pd.to_datetime(df["DATETIME_START"]).dt.time)
)

In [4]:
# move DATE_START and TIME_START cols right after DATETIME_START
df.insert(df.columns.get_loc("DATETIME_START") + 1, "DATE_START", df.pop("DATE_START"))
df.insert(df.columns.get_loc("DATETIME_START") + 2, "TIME_START", df.pop("TIME_START"))

In [5]:
f.save_score_df(df)

In [6]:
f.read_score_df()

,NAME,DATETIME_START,DATE_START,TIME_START,EXERCISE_IDX,TAFEL,RAND_NUM,USER_ANSWER,SCORE,DURATION_TIME,MODEL_SCORE,PROBABILITY
0,Raphael,2025-10-18 17:10:24.000000,2025-10-18,17:10:24,1,8,4,24,0.1,10.000,0.010000,0.157295
1,Raphael,2025-10-18 16:28:42.000000,2025-10-18,16:28:42,8,8,5,45,0.1,3.583,0.027910,0.056359
2,Raphael,2025-10-18 16:28:42.000000,2025-10-18,16:28:42,16,7,9,42,0.1,2.041,0.048996,0.032104
3,Raphael,2025-10-18 16:28:42.000000,2025-10-18,16:28:42,20,8,4,24,0.1,1.829,0.054675,0.028769
4,Raphael,NaN,NaN,NaN,1,2,8,16,1.0,10.000,0.100000,0.015729
...,...,...,...,...,...,...,...,...,...,...,...,...
103,Raphael,2025-10-18 18:07:06.000000,2025-10-18,18:07:06,2,3,10,30,1.0,1.139,0.877963,0.001792
104,Raphael,2025-10-18 16:28:42.000000,2025-10-18,16:28:42,2,8,1,8,1.0,1.118,0.894454,0.001759
105,Raphael,NaN,NaN,NaN,11,3,1,3,1.0,1.061,0.942507,0.001669
106,Raphael,2025-10-18 16:28:42.000000,2025-10-18,16:28:42,18,2,1,2,1.0,1.046,0.956023,0.001645
107,Raphael,2025-10-18 23:53:18.000000,2025-10-18,23:53:18,2,7,1,7,1.0,0.982,1.018330,0.001545

In [7]:
df(
    .groupby(['TAFEL','RAND_NUM'],as_index=False)
    .agg({'MMODEL_SCORE:'mean'})
)df(
    .groupby(['TAFEL','RAND_NUM'],as_index=False)
    .agg({'MEAN_MODEL_SCORE':'mean'})
)

    TAFEL  RAND_NUM  MODEL_SCORE
0       2         1     0.956023
1       2         2     0.615385
2       2         3     0.662704
3       2         4     0.130697
4       2         5     0.550055
..    ...       ...          ...
64      9         6     0.217954
65      9         7     0.208043
66      9         8     0.190150
67      9         9     0.196413
68      9        10     0.838223

[69 rows x 3 columns]

In [12]:
df=f.add_prob(df)

In [9]:
# select columns TAFEL RAND_NUM and PROB then pivot TAFEL in rows, RAND_NUM in cols and PROBABILITY as values. but the PROBABILITY needs to be in percentage form


     .assign

ValueError: Index contains duplicate entries, cannot reshape

In [21]:
# display in a table that i can use in my streamlit app. cells with low values can be colored green, high values in red

In [36]:
f.generate_prob_table(f.read_score_df())

In [ ]:
df = f.read_score_df()

In [ ]:
df